<h1>Detalles del Pokemon </h1>
<p>
  <strong>Nombre:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pokemon.kind %>
</p>

<p>
  <strong>Ataque:</strong>
  <%= @pokemon.attack%>
</p>

<p>
  <strong>Defensa:</strong>
  <%= @pokemon.defense %>
</p>

<p>
  <strong>Velocidad:</strong>
  <%= @pokemon.speed %>
</p>

<p>
  <strong>Entrenador:</strong>
  <%= @pokemon.trainer.name %>
  <%# Debido a la asociación creada @pokemon.trainer 
  ahora pasa a ser la instancia del entrenador
  por lo que puedo acceder a su nombre %>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Nombre Movimientos del Pokemon</th>
        <tr>
    <thead>
    <tbody>
        <% @pokemon.movements.each do |movement|%>
            <tr>
                <td><%= movement.name%></td>
            <tr>
        <%end%>
    </tbody>
</table>