<!DOCTYPE html>
<html>
  <head>
    <title>UmbreonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://c3.klipartz.com/pngpicture/29/35/sticker-png-eveelution-umbreon-pokemon-meoth-thumbnail.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="/">Inicio</a>
  <a href="/trainers/new">Nuevo Entrenador</a>
  <a href="/trainers/index">Todos los Enrenadores</a>
  <a href="/pokemons/new">Nuevo Pokemon</a>
  <a href="/pokemons/index">Todos los Pokemons</a>
  <a href="/movements/new">Nuevo Movimiento</a>
  <a href="/movements/index">Todos los Movimientos</a>
    <%= yield %>
  </body>
</html>
