<h1>DesCargasC Ilegales</h1>
<p><%= link_to 'Juegos', games_index_path %></p>
<p><%= link_to 'Libros', books_path %></p>
<p><%= link_to 'Pautas', guidelines_path %></p>
<p><%= link_to 'Canciones', songs_path %></p>
<p><%= link_to 'Memes', home_memes_path %></p>