<h1>Memes</h1>

<%= link_to 'Inicio', home_home_path %>

</br>

<%= image_tag("meme_01.png") %>

<%= image_tag("meme_02.png") %>

<%= image_tag("meme_03.png") %>

<%= image_tag("meme_04.png") %>

<%= image_tag("meme_05.png") %>
